{{- range $t := .Types -}}
{{- if eq $t.Kind "SCALAR" -}}
scalar {{$t.Name}}
{{- end}}
{{- if or (eq $t.Kind "OBJECT") (eq $t.Kind "INPUTOBJECT") -}}
{{if eq $t.Kind "OBJECT"}}type{{else}}input{{end}} {{$t.Name}} {
{{- range $f := $t.Fields}}
  {{$f.Name | lowerCaseFirst}}
  {{- if gt (len $f.Args) 0 -}}
    (
      {{- range $i, $a := $f.Args}}
        {{- if $i}}{{", "}}{{end -}}
        {{- $a.Name | lowerCaseFirst }}: {{$a.Type | gqlType -}}
      {{ end -}}
    )
  {{- end -}}
  : {{$f.Type | gqlType}}
{{- end}}
}
{{- end}}

{{end -}}
